{% extends "base_generic.html" %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
      <li class="breadcrumb-item active text-white" aria-current="page">Home</li>
    </ol>
  </nav>  
  <h1>Personal Book Manager</h1>

  <p>The library has the following record counts:</p>
  <ul class="list-group">
    <li class="list-group-item"><strong>Books:</strong> {{ num_books }}</li>
    <li class="list-group-item"><strong>Authors:</strong> {{ num_authors }}</li>
    <li class="list-group-item"><strong>Genres:</strong> {{ num_genres }}</li>
  </ul>
{% endblock %}