{% extends "base_generic.html" %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
      <li class="breadcrumb-item"><a href="{% url 'index' %}" class="text-white">Home</a></li>
      <li class="breadcrumb-item text-white"><a href="{% url 'authors' %}" class="text-white">Books</a></li>
      <li class="breadcrumb-item active text-white" aria-current="page">{{author.first_name}}</li>
    </ol>
  </nav>


<h1>Author: {{ author }} </h1>
<p>{% if author.date_of_birth %} {{author.date_of_birth}} - {% endif %}{% if author.date_of_death %}{{author.date_of_death}}{% endif %}</p>

<div style="margin-left:20px;margin-top:20px">
<h4>Books</h4>
<dl>
{% for book in author.book_set.all %}
  <dt><a href="{% url 'book-detail' book.pk %}">{{book}}</a></dt>
  <dd>{{book.summary}}</dd>
{% endfor %}
</dl>

</div>
{% endblock %}
