{% extends "base_generic.html" %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
      <li class="breadcrumb-item "><a href="{% url 'index' %}" class="text-white">Home</a></li>
      <li class="breadcrumb-item active text-white" aria-current="page">Authors</li>
    </ol>
  </nav>

  <h1>Author List</h1>
  {% if author_list %}
  <ul class="list-group">
    {% for author in author_list %}
      <li class="list-group-item">
        <a href="{% url 'author-detail' author.pk %}">{{author.first_name}} {{ author.last_name }}</a> ({{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %})
      </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>There are no authors.</p>

  {% endif %}
{% endblock %}