{% extends "base_generic.html" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
      <li class="breadcrumb-item"><a href="{% url 'index' %}" class="text-white">Home</a></li>
      <li class="breadcrumb-item active text-white" aria-current="page">Books</li>
    </ol>
  </nav>

  <h1>Book List</h1>
  {% if book_list %}
  <ul class="list-group">
    {% for book in book_list %}
      <li class="list-group-item">
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}       
{% endblock %}