{% extends "base_generic.html" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
      <li class="breadcrumb-item "><a href="{% url 'index' %}" class="text-white">Home</a></li>
      <li class="breadcrumb-item "><a href="{% url 'books' %}" class="text-white">Books</a></li>
      <li class="breadcrumb-item active text-white" aria-current="page">{{book.title}}</li>
    </ol>
  </nav>
  <div class="card" style="width: 50rem;">
      <div class="card-body">
          <div class="d-flex w-100 justify-content-between">
              <h2 class="card-title">{{book.title}}</h2>
              <small class="text-warning"><strong>{{book.get_language_display}}</strong></small>
          </div>

          <h6 class="card-subtitle mb-2 text-muted"><a href="{% url 'author-detail' book.author.pk %}" class="card-link">{{book.author}}</a></h6>
          <p class="card-text" style="text-align:justify;">{{book.summary}}</p>
          {% for genre in book.genre.all %}
          <span class="badge badge-info">{{genre}}</span>      
        {% endfor %}
      </div>
      <div class="card-footer">
       <p class="card-text">  This book was published in {{book.pub_year}}.</p>
       {% if book.owner %}
       <p class="card-text">  This book was purchased by {{book.owner}} {% if book.pur_date %} on {{book.pur_date}}{%endif%}.</p>
       {% endif %}
       {% ifequal book.condition 'g' %}
       <p class="card-text">Condition: <span class="badge badge-success">{{ book.get_condition_display|capfirst }}</span></p>  
       {% endifequal %}
       {% ifequal book.condition 'b' %}
       <p class="card-text">Condition: <span class="badge badge-danger">{{ book.get_condition_display|capfirst }}</span></p>  
       {% endifequal %}
       {% ifequal book.condition 'f' %}
       <p class="card-text">Condition: <span class="badge badge-warning">{{ book.get_condition_display|capfirst }}</span></p>  
       {% endifequal %}
     
     
     
      </div>    
      </div>
  



    










    {% endblock %}