{% extends "base_generic.html" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
      <li class="breadcrumb-item "><a href="{% url 'index' %}" class="text-white">Home</a></li>
      <li class="breadcrumb-item "><a href="{% url 'books' %}" class="text-white">Books</a></li>
      <li class="breadcrumb-item active text-white" aria-current="page">{{book.title}}</li>
    </ol>
  </nav>

  <div class="card">
      <div class="card-body">
          <div class="d-flex w-100 justify-content-between">
              <h2 class="card-title">{{book.title}}</h2>
              <small class="text-info"><strong>{{book.language}}</strong>{% if book.translation %}/{{book.translation}}{% endif %}</small>
          </div>
          {% ifequal book.author.all.count 1 %}
                    {{ book.author.all|first }}
          {% else %}
            {% for author in book.author.all %}
            {% if forloop.last %}
              ,
            {% endif %}
            <h5 class="card-subtitle mb-2"><a href="{% url 'author-detail' author.pk %}" class="card-link">{{author}}</a></h5>
              {% endfor %}
          {% endifequal %}

            {% if book.translator %}
              <a href="{% url 'author-detail' book.translator.pk %}" class="card-link">{{book.translator}}</a> 
            {% endif %}          
            <p class="card-text" style="text-align:justify;">{{book.summary}}</p>
            {% for genre in book.genre.all %}
           <span class="badge badge-info">{{genre}}</span>      
            {% endfor %}
            {% if user.is_authenticated %}
            <span class="badge badge-info" id="wish_badge" style="float:right;display: none;">From Wish List</span>      
            <span class="badge badge-danger" id="reading_badge" style="float:right;display: none;">Currently Reading</span>      
            <span class="badge badge-success" id="completed_badge" style="float:right;display: none;">Completed</span>      
            {% endif%}

      </div>
    
      <div class="card-footer">
        {% if book.pub_year %}
        <p class="card-text">  This book was published in {{book.pub_year}}.</p>
        {% endif %}
        {% if book.owner %}
        <p class="card-text">  This book is owned by {{book.owner}}.</p>
        {% endif %}
        {% if user.is_authenticated %}
          {% if book.archive %}
          <p class="card-text">  This book is in archives now.</p>
          {% endif%} 
        {% endif%} 
        {% ifequal book.condition 'g' %}
        <p class="card-text">Condition: <span class="badge badge-success">{{ book.get_condition_display|capfirst }}</span></p>  
        {% endifequal %}
        {% ifequal book.condition 'b' %}
        <p class="card-text">Condition: <span class="badge badge-danger">{{ book.get_condition_display|capfirst }}</span></p>  
        {% endifequal %}
        {% ifequal book.condition 'f' %}
        <p class="card-text">Condition: <span class="badge badge-warning">{{ book.get_condition_display|capfirst }}</span></p>  
        {% endifequal %}  
      </div>    
  </div>

  

  {% if user.is_authenticated %}

  <div class="row" id="wish_list_div" style="display:none">
      <div class="col-sm-2">
        <form method="get">
            <input type="number" name="id_book" id="id_book" value="{{book.id}}" style="display:none;">                   
            <input type="number" name="id_user" id="id_user" value="{{user.id}}" style="display:none;">                   
            <button type="button" id="wish_list"class="btn btn-info btn-md">Add To Wish List</button>
          </form>      
      </div>
    </div>
    <div class="row" id="reading_div" style="display:none">
        <div class="col-sm-2">
          <form method="get">
              <input type="number" name="id_book" id="id_book" value="{{book.id}}" style="display:none;">                   
              <input type="number" name="id_user" id="id_user" value="{{user.id}}" style="display:none;">                   
              <button type="button" id="reading_list"class="btn btn-danger btn-md">Add To Reading List</button>
            </form>      
        </div>
      </div>
      <div class="row" id="completed_div" style="display:none">
          <div class="col-sm-2">
            <form method="get">
                <input type="number" name="id_book" id="id_book" value="{{book.id}}" style="display:none;">                   
                <input type="number" name="id_user" id="id_user" value="{{user.id}}" style="display:none;">                   
                <button type="button" id="completed_list"class="btn btn-success btn-md">Add To Completed</button>
              </form>      
          </div>
        </div>
      


  <script>
  $( document ).ready(function() {
        var id_user = $('#id_user').val();
        var id_book = $('#id_book').val();
    
        $.ajax({
          url: '{% url "check_status" %}',
          data: {
            'id_user': id_user,
            'id_book': id_book,
          },
          dataType: 'json',
          success: function (data) {
              if(data['status']=='w'){
                $("#wish_badge").css('display','block');
                $("#reading_div").css('display','block');
                $("#completed_div").css('display','block');
              }
              else if(data['status']=='r'){
                $("#reading_badge").css('display','block');
                $("#completed_div").css('display','block');
              }
              else if(data['status']=='c'){
                $("#completed_badge").css('display','block');
              }
              else{
                $("#wish_list_div").css('display','block');
                $("#reading_div").css('display','block');

              }
          }
        });
  
      });
    </script>
{% endif %}

  <script>
      $("#wish_list").click(function () {
        $("#wish_list_div").css('display','none');
        $("#wish_badge").css('display','block');
        var id_user = $('#id_user').val();
        var id_book = $('#id_book').val();
  
        $.ajax({
          url: '{% url "add_to_wish_list" %}',
          data: {
            'id_user': id_user,
            'id_book': id_book,
          },
          dataType: 'json',
          success: function (data) {
             alert(data['status']);
          }
        });
  
      });
    </script>
  <script>
      $("#reading_list").click(function () {
        $("#wish_list_div").css('display','none');
        $("#reading_div").css('display','none');
        $("#wish_badge").css('display','none');
        $("#reading_badge").css('display','block');
        var id_user = $('#id_user').val();
        var id_book = $('#id_book').val();
  
        $.ajax({
          url: '{% url "add_to_reading" %}',
          data: {
            'id_user': id_user,
            'id_book': id_book,
          },
          dataType: 'json',
          success: function (data) {
              alert(data['status']);
          }
        });
  
      });
    </script>
  <script>
      $("#completed_list").click(function () {
        $("#wish_list_div").css('display','none');
        $("#reading_div").css('display','none');
        $("#completed_div").css('display','none');
        $("#reading_badge").css('display','none');
        $("#completed_badge").css('display','block');
        var id_user = $('#id_user').val();
        var id_book = $('#id_book').val();
  
        $.ajax({
          url: '{% url "add_to_completed" %}',
          data: {
            'id_user': id_user,
            'id_book': id_book,
          },
          dataType: 'json',
          success: function (data) {
              alert(data['status']);
          }
        });
  
      });
    </script>



    {% endblock %}