{% extends "base_generic.html" %}

{% block content %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-dark">
          <li class="breadcrumb-item "><a href="{% url 'index' %}" class="text-white">Home</a></li>
          <li class="breadcrumb-item active text-white" aria-current="page">New Arrivals</li>
        </ol>
      </nav>
    
      

    <ul class="list-group">

      {% for book in book_list %} 
          {% if book.is_new %}
          <li class="list-group-item">
                <a href="{% url 'book-detail' book.pk %}">{{book.title}}</a> 
            </li>
            {% endif %}
      {% endfor %}
    </ul>
    

{% endblock %}